.App ,body{
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.header{
  font-size: large;
  background-color: #e5e2e7;
  padding: 5px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.camera{
  margin: 22px 2px;
}

.preview-profile{
  display: flex;
  background-color: whitesmoke;
}

.title{
cursor: pointer;
font-family: cursive;
font-style: oblique;
}

.direct-message{
  display: flex;
  cursor: pointer;
}

.direct-message-style{
  display: flex;
  justify-content: end;
  width: 100%;
}

.profileName{
  cursor: pointer;
}

.dot{
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.dot-2{
  height: 10vh;
  width: 15%;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.dot-3{
  height: 10vh;
  width: 15%;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.three-dots-before{
  display: flex;
  justify-content: flex-end;
  width: 82%;
}

.three-dots{
  display: block;
  margin: 3px 4px 0px 325px;
  align-self: center;
  cursor: pointer;
}


.main-publication{
  width: 100%;
}

.like-comment{
  display: flex;
  width: 20%;
  justify-content: space-around;
}

.like-icons{
  display: flex;
  background-color: whitesmoke;
}

.like-heart{
  cursor: pointer;
}

.like-bubble{
  cursor: pointer;
}

.like-arrow{
  cursor: pointer;
}

.book-mark{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}

.like-bookMark{
 margin: -46px 4px 8px 10px;
 cursor: pointer;
}

.before-interaction{
  display: flex;
  justify-content: center;
  width: 80%;
}

.see-comments{
  cursor: pointer;
}

.options-list{
  display: flex;
  justify-content: space-around;
  background-color: #e5e2e7;
}

.list-house{
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.list-search{
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.list-plus{
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.list-heart{
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.list-profile{
  margin: 20px 4px 8px 10px;
  cursor: pointer;
}

.head-section{
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.profile-details{
  display: flex;
}

.profile-info{
  display: flex;
  align-items: center;
}

.boton{
  width: 90%;
  height: 5vh;
  background-color: whitesmoke;
  border-color: lightgray;
  border-radius: 5px;
  cursor: pointer;
}

.stories-record{
  display: flex;
}

.three-lines{
  display: flex;
  align-self: center;
  cursor: pointer;
}

.stories-text{
  margin: 10vh 3vh;
}

.publications{
  display: flex;
  justify-content: space-evenly;
  margin: 5vh;
}

.profile-images{
  height: 300px;
  clear: both;
}

.profile-images>div{
  width: auto;
  height: 100px;
  float: left;
  text-align: center;
}

.profile-images>div>img{
  display: inline-block;
  vertical-align: middle;
  max-width: 98%;
  max-height: 90%;
}

.profile-options{
  display: flex;
  justify-content: space-around;
  background-color: #e5e2e7;
}

.cell-pic{
  cursor: pointer;
}

.person-pic{
  cursor: pointer;
}
