body{
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.header{
  font-size: large;
  background-color: darkgrey;
  padding: 5px;
  text-align: start;
  display: flex;
}

.preview-profile{
  display: flex;
  background-color: whitesmoke;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: block;
  margin: 20px 4px 8px 10px;
}

.three-dots{
  display: block;
  margin: 14px 4px 8px 10px;
  align-self: center;
}

.like-comment{
  display: flex;
  background-color: whitesmoke;
}

.like-heart{
  margin: 20px 4px 8px 10px;
}

.like-bubble{
  margin: 23px 4px 8px 10px;
}

.like-arrow{
  margin: 20px 4px 8px 10px;
}

.like-bookMark{
 margin: 20px 4px 8px 10px
}

.options-list{
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
}

.list-house{
  margin: 20px 4px 8px 10px;
}

.list-search{
  margin: 20px 4px 8px 10px;
}

.list-plus{
  margin: 20px 4px 8px 10px;
}

.list-heart{
  margin: 20px 4px 8px 10px;
}

.list-profile{
  margin: 20px 4px 8px 10px;
}
